body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.blob {
    width: 200px;
    /* width: 150px; */
    /* height: 150px; */
    /* background-color: white; */
    /* position: absolute; */
    animation: bounce .5s forwards infinite alternate ease-out;
    /* border-radius: 100%; */
    /* transition: .3s; */
}

@keyframes bounce {
    0% {
        /* all: none; */
    }

    .1% {
        transform: rotate(35deg);
    }

    100% {
        /* max-width: 100%; */
        transform: translateY(-20vh);

    }
}