body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-shadow: 0px -1px 292px -30px rgba(62, 11, 255, 0.75);
    -webkit-box-shadow: 0px -1px 292px -30px rgba(62, 11, 255, 0.75);
    -moz-box-shadow: 0px -1px 292px -30px rgba(62, 11, 255, 0.75);
    /* border: 2px solid blue */
}

.blob1 {
    z-index: 1;
    position: absolute;
    width: 120px;
    height: 120px;
    /* background: red; */
    /* border-radius: 38% 62% 36% 52% / 22% 36% 55% 76%; */
    animation: blob1 4s infinite ease-in-out;
    filter: blur(.1px);
    background: hsla(152, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1);
}

@keyframes blob1 {

    0%,
    100% {
        border-radius: 100% 62% 71% 93% / 72% 36% 88% 91%;
        /* transform: translateY(10px) */
        /* background-color: brown; */

    }

    25% {
        border-radius: 100% 74% 78% 51% / 90% 63% 71% 48%;
        /* transform: translateY(-10px) */
        /* background-color: rebeccapurple; */
    }

    50% {
        border-radius: 51% 74% 15% 100% / 90% 44% 41% 77%;
        /* transform: translateY(5px) */
        /* background-color: aquamarine; */
    }

    75% {
        /* transform: translateY(10px) */
        /* border-radius: 51% 74% 79% 0% / 51% 17% 76% 77%; */
        /* background-color: palegoldenrod; */
    }
}

.blob2 {
    position: relative;

    width: 180px;
    height: 180px;
    /* background: red; */
    /* border-radius: 38% 62% 36% 52% / 22% 36% 55% 76%; */
    animation: blob2 3s infinite ease-in-out;
    filter: blur(.1px);
    background: hsla(33, 100%, 53%, 1);

    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1);

}

@keyframes blob2 {

    0%,
    100% {
        border-radius: 100% 62% 71% 93% / 72% 36% 88% 91%;
        /* background-color: aquamarine; */
    }

    25% {
        /* background-color: brown; */
        /* border-radius: 51% 74% 79% 0% / 51% 17% 76% 77%; */
        /* transform: translateY(-10px) */
    }

    50% {
        border-radius: 100% 74% 78% 51% / 90% 63% 71% 48%;
        /* transform: translateY(5px) */
        /* background-color: palegoldenrod; */
    }

    75% {
        border-radius: 51% 74% 15% 100% / 90% 44% 41% 77%;
        /* transform: translateY(10px) */
        /* background-color: rebeccapurple; */
    }
}

.blob3 {
    z-index: -1;
    position: absolute;
    width: 250px;
    height: 250px;
    /* background: red; */
    /* border-radius: 38% 62% 36% 52% / 22% 36% 55% 76%; */
    animation: blob3 3s infinite ease-in-out;
    filter: blur(.1px);
    background: hsla(238, 100%, 71%, 1);

    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#696EFF", endColorstr="#F8ACFF", GradientType=1);

}

@keyframes blob3 {

    0%,
    100% {
        border-radius: 100% 62% 71% 93% / 72% 36% 88% 91%;
        /* background-color: darkcyan; */
    }

    25% {
        /* transform: translateY(-10px) */
        /* border-radius: 51% 74% 79% 0% / 51% 17% 76% 77%; */
        /* background-color: hotpink; */
    }

    50% {
        border-radius: 51% 74% 15% 100% / 90% 44% 41% 77%;
        /* transform: translateY(5px) */
        /* background-color: paleturquoise; */
    }

    75% {
        border-radius: 100% 74% 78% 51% / 90% 63% 71% 48%;
        /* transform: translateY(10px) */
        /* background-color: lawngreen; */
    }
}