body {
    font-family: 'Noto Serif Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    user-select: none;
}

.text {
    font-size: 200px;
    z-index: 1;
}

.circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: yellow;
    border-radius: 50%;
    left: 10vw;
    animation: move 3s infinite;
}

@keyframes move {
    0% {}

    50% {
        left: 70vw;
    }
}