html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    /* white-space: nowrap; */
    font-weight: 500;
}

.header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    /* margin-bottom: 50px; */
}

.header__logo {
    text-align: left;
    font-size: 30px;
}

.header__elements--ham {
    display: none;
}

.header__elements {
    display: flex;
    align-items: center;
}

.header__logo--elements-ham {
    display: none;
}

.content__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.content__hero--title-title {
    text-align: center;
    font-size: 200px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100px; */
    /* white-space: nowrap; */
}

.content__hero--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: space-around; */
    /* justify-content: center; */
    /* margin-bottom: 100px; */
    /* white-space: nowrap; */
}

.content__hero--title-title::after {
    content: '';
    width: 200px;
    height: 1px;
    display: block;
    background: black;
    /* font-size: 0; */
}

.content__hero--subtitle {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.content__hero--subtitle::before {
    content: open-quote;
    font-size: 50px;
    display: inline;
}

.content__hero--subtitle::after {
    content: close-quote;
    font-size: 50px;
    display: inline;
}

.content__handmade {
    height: 100%;
    width: 100%;
    margin: 100px 0;
}

.content__handmade--photos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */

}

.content__handmade--photos-photo {
    /* vertical-align: bottom; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    height: 90%;
    /* border: 20px solid black; */
    vertical-align: middle;
    /* border-spacing: 0ch; */
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.content__handmade--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    vertical-align: middle;
    text-align: center;
    /* width: auto; */
}

.content__handmade--data-title {
    font-size: 65px;
    font-weight: 700;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* word-break: break-all; */
}

.content__handmade--data-subtitle {
    font-style: italic;
}

.content__shop {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__shop--title {
    font-size: 70px;
    font-weight: 700;
}

.content__shop--gallery-photo {
    width: 100%;
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    position: relative;
    transition: .3s;

    /* border: 5px solid black; */
}

.content__shop--gallery {
    margin: 40px 0;
    width: 60%;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    gap: 10px;
    /* transition: .3s; */
}

.content__shop-gallery-photos-data {
    position: absolute;
    font-size: 30px;
    color: white;
    display: none;
    transition: .3s;

}

.content__shop--gallery-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    filter: blur(.1rem);
    /* border-radius: 500px; */
    /* filter: brightness(.3); */
}

.content__shop--gallery-photos:hover {
    transition: .3s;
    filter: blur(0);
    transform: scale(1.1);
    z-index: 1;

}

.content__shop--gallery-photos:hover .content__shop-gallery-photos-data {
    display: block;
}

.content__review {
    margin: 100px 0;
}

.content__review--reviews-review {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__review--reviews-review-review {
    /* font-weight: 900; */
    font-style: italic;
    font-size: 20px;
}

.content__review--reviews-review-review::before {
    content: open-quote;
    display: inline;
    font-size: 20px;
}

.content__review--reviews-review-review::after {
    content: close-quote;
    display: inline;
    font-size: 20px;
}

.content__review--reviews-review-name {
    font-size: 20px;
    margin: 10px 0;
}

.content__review--reviews-review-name::before {
    content: '~';
    font-size: 40px;
    display: block;
}

.content__review--reviews {
    display: flex;
    justify-content: space-evenly;
}

.content__review--data {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.footer {
    text-align: center;
    background-color: rgb(243, 242, 242);
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 1324px) {
    .header__elements {
        font-size: 15px;
    }
}

@media (max-width: 1337px) {
    .header__logo--element {
        display: none;
    }

    .header__elements--ham {
        display: block;
        text-align: end;
        width: fit-content;
        /* display: flex; */
        /* justify-content: end; */
    }

    .header__elements--ham:hover .header__logo--elements-ham {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: flex-start;
        white-space: nowrap;
        text-align: center;
        background-color: rgb(245, 245, 245);
        /* width: 100%; */
        width: fit-content;
        padding: 9px;
        top: 45px;
        right: 3px;
        /* height: 80px; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: space-around; */
        /* position: relative; */
        /* top: 43; */
        /* right: 12; */
        /* bottom: 100; */
    }
}

@media(max-width: 696px) {
    .content__hero--title-title {
        font-size: 150px;
    }

    .content__shop--gallery {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
}

@media(max-width: 512px) {
    .content__hero--title-title {
        font-size: 110px;
    }


    .content__review--data {
        font-size: 50px;
    }
}

@media(max-width: 375px) {
    .content__hero--title-title {
        font-size: 100px;
        text-align: center;
    }
}

@media(max-width: 340px) {
    .content__hero--title-title {
        font-size: 80px;
    }

    .content__handmade--data-title {
        font-size: 40px;
    }

    .content__shop--title {
        font-size: 40px;
    }
}

@media (max-width: 350px) {
    .content__handmade--data-title {
        font-size: 40px;
    }

    .content__shop--title {
        font-size: 35px;
    }

    .content__shop--gallery {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .content__shop--gallery-photos {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    }
}