body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bounce {
    width: 10%;
    animation: bounce 5s;
}

.bounce:active {}

@keyframes bounce {
    0% {}

    10% {
        transform: translateY(-50vh);

        100% {}
    }