body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 10vh;
    background-color: rgb(197, 197, 255);
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* padding: 0 2vw; */
}

.elements {
    background-color: rgb(255, 188, 188);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    /* opacity: .5; */
    transition: .3s;
    /* display: none; */
}

.element {
    display: none;
    transition: .3s;
}

.hammenu {
    z-index: 1;
    margin: 0 2vw;

}

.ham {
    border-radius: 100%;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: .3s;

}

.ham-on {
    transition: .3s;
    display: flex;
    height: 100vh;
}

.ham1-toggle {
    transform: rotate(-330deg);
}

.ham2-toggle {
    width: 50px;
    transform: translateX(-20px);
}

.ham3-toggle {
    transform: rotate(330deg);
}