body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.car-car {
    width: 30vw;
    top: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-end; */
}