* {
    transition: .3s;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    background-color: #000000;
    user-select: none;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.card-head {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: hsla(256, 100%, 16%, 1);

    background: linear-gradient(90deg, hsla(256, 100%, 16%, 1) 0%, hsla(279, 100%, 29%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(256, 100%, 16%, 1) 0%, hsla(279, 100%, 29%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(256, 100%, 16%, 1) 0%, hsla(279, 100%, 29%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#150050", endColorstr="#610094", GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 25vw;
    height: 40vh;
    padding: 10px;
    color: white;
    /* position: absolute; */
    /* top: 15vh; */
    /* left: 0; */
    /* position: relative; */
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.card-img {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.card-img-img {
    border-radius: 100%;
    width: 70%;
    animation: blob2 4s infinite ease-in-out;

    /* transform: ; */
}

.card-title {
    font-size: 40px;
    font-weight: 900;
}

.card-data {
    /* background: hsla(256, 100%, 16%, 1);

    background: linear-gradient(90deg, hsla(256, 100%, 16%, 0.3) 0%, hsla(0, 0%, 100%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(256, 100%, 16%, 0.3) 0%, hsla(0, 0%, 100%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(256, 100%, 16%, 0.3) 0%, hsla(0, 0%, 100%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#150050", endColorstr="#ffffff", GradientType=1); */

    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /* position: absolute; */
    background-color: white;
    width: 22vw;
    height: 25vh;
    padding: 10px;
    /* bottom: 22vh; */
    /* position: absolute; */
    /* bottom: 5px; */

}

.card-contact {
    display: none;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.card-subtitle {
    font-size: 15px;
    font-weight: 500;
}

.card-contact:hover {
    background-color: rgb(135, 79, 207);
}

.card:hover {
    transform: translateY(-1vh);
}

.card:hover .card-img-img {
    transform: translateY(-10vh) scale(1.1);
}

.card:hover .card-head {
    height: 50vh;
}

.card:hover .card-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes blob1 {

    0%,
    100% {
        border-radius: 100% 62% 71% 93% / 72% 36% 88% 91%;
        /* transform: translateY(10px) */
        /* background-color: brown; */

    }

    25% {
        border-radius: 100% 74% 78% 51% / 90% 63% 71% 48%;
        /* transform: translateY(-10px) */
        /* background-color: rebeccapurple; */
    }

    50% {
        border-radius: 51% 74% 15% 100% / 90% 44% 41% 77%;
        /* transform: translateY(5px) */
        /* background-color: aquamarine; */
    }

    75% {
        /* transform: translateY(10px) */
        /* border-radius: 51% 74% 79% 0% / 51% 17% 76% 77%; */
        /* background-color: palegoldenrod; */
    }
}

@keyframes blob2 {

    0%,
    100% {
        border-radius: 100% 62% 71% 93% / 72% 36% 88% 91%;
        /* background-color: aquamarine; */
    }

    25% {
        /* background-color: brown; */
        /* border-radius: 51% 74% 79% 0% / 51% 17% 76% 77%; */
        /* transform: translateY(-10px) */
    }

    50% {
        border-radius: 100% 74% 78% 51% / 90% 63% 71% 48%;
        /* transform: translateY(5px) */
        /* background-color: palegoldenrod; */
    }

    75% {
        border-radius: 51% 74% 15% 100% / 90% 44% 41% 77%;
        /* transform: translateY(10px) */
        /* background-color: rebeccapurple; */
    }
}