html {
    background-color: black;
    font-family: 'Lora', serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    /* user-select: none; */
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_content-title {
    text-align: center;
    font-size: 80px;
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
    /* 2 12 5 5 5 10 */
}

.name {
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.timeline {
    width: 1px;
    height: 100rem;
    background: white;
}

.timeline-data {
    position: absolute;
    padding-top: 500px;
    /* display: flex; */
    /* padding: 0 200px; */

}

.data1 {
    margin-bottom: 50px;
    /* padding-right: 10px; */
    text-align: end;
    width: 48%;
    /* position: absolute; */
    /* top: 100%; */
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.data2 {
    margin-bottom: 50px;
    /* padding-right: 10px; */
    /* text-align: end; */
    width: 48%;
    left: 52%;
    position: absolute;
    /* top: 100%; */
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.data3 {
    margin-bottom: 50px;
    /* padding-right: 10px; */
    text-align: end;
    width: 48%;
    margin-top: 250px;
    /* position: absolute; */
    /* top: 100%; */
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.data4 {
    margin-bottom: 50px;
    /* padding-right: 10px; */
    /* text-align: end; */
    width: 48%;
    left: 52%;
    position: absolute;
    /* top: 100%; */
    background-image: linear-gradient(to right,
            #cb9b51 0,
            #f6e27a 45%,
            #cb9b51 22%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}