body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    position: sticky;
    /* width: 100%; */
    z-index: 1;
    top: 0;
}

.header__elements {
    display: flex;
    justify-content: center;
}

.header__elements-element {
    margin: 0 15px;
}

.content--section {
    padding: 0 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;

}

.content--title {
    font-size: 120px;
}

.content__hero {
    background: url(./assests/earth.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: 800;
    width: 100vw;
}

.content__power {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: url(./assests/plasma.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* font-style: italic; */
    color: white;
    width: 100%;

}

.content__power--title {
    color: white;
    font-weight: 800;
}

.content__secure {
    background: url(./assests/finger.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    width: 100%;

    font-weight: 500;
    text-align: center;

}

.content__secure--title {
    /* margin-top: 25px; */
    /* text-align: center; */
    font-weight: 800;
    /* width: 40%; */
}

.content__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: white;
}

.content__register--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__register--form-email-box {
    width: 10vw;
    height: 5vh;
    margin: 50px 0;
    font-size: 20px;
    transition: .3s;
}

.content__register--form-email-box:focus {
    width: 50vw;
}

.content__register--form-send {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(72, 72, 255);
    width: fit-content;
}

.footer {
    background: black;
}