body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5f7;
    /* opacity: 1; */
    background: url(./blob-scene-haikei.svg);
    font-family: 'Roboto', sans-serif;
    color: white;
}

.lister {
    /* border: 1px solid grey; */
    height: 600px;
    width: 800px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    background: #413c5e;
    border-radius: 20px;
}

.lister-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.lister-input-input {
    text-align: center;
    font-size: 40px;
    background-color: #413c5e;
    width: 80%;
    height: 50px;
    border: none;
    /* color: white !important; */
    border-bottom: 1px solid white;
    color: white;

}


.lister-input-button {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    width: 40%;
    height: 50px;
    background-color: white;
    border: none;
    box-shadow: 0px 5px 0px 5px #0C1C30;
    -webkit-box-shadow: 0px 5px 0px 5px #0C1C30;
    -moz-box-shadow: 0px 5px 0px 5px #0C1C30;

}

.lister-input-button:active {
    box-shadow: none;
    border: none;
    transform: scale(.95);
}

.lister-input-input:focus {
    outline: none;
    color: white;
}

.lister-input-input::placeholder {
    color: white;
}

.lister-input-input:focus::placeholder {
    color: transparent;
}

.lister-items-items {
    font-size: 25px;
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    padding: 0;
}

.lister-items-item {
    margin: 10px 0;
    /* border-bottom: .1px solid white; */
    list-style: none;
    width: 80%;

}